<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Formulário Teste</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href='modalControler.js'>
</head>
<nav class="navbar" role="navigation" aria-label="main navigation" style='background-color:#48c78e'>
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>

<body>
    <section class="section">
        <div class="container">
            <h2 class="label" style="text-align: center; font-size: 24px;">Formulário para Teste</h2>
            <div class="container is-max-desktop">
                <div class="field">
                    <label class="label">Nome</label>
                    <div class="control">
                        <input class="input" type="text" id='nome' placeholder="Nome">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Sobrenome</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input is-success" type="text" placeholder="Sobrenome" id="sobrenome">
                        <span class="icon is-small is-left">
            </span>
                        <div class="field">
                            <label class="label">Email</label>
                            <input class="input is-success" type="email" id="email" placeholder="Email">
                            <div class="field">
                                <label class="label">Gênero</label>
                                <div class="control">
                                    <div class="select">
                                        <select id="selecionar-genero">
                <option value="1"> Feminino</option>
                <option value="2">Masculino</option>
                <option value="3">Outro</option>
              </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Message</label>
                                <div class="control">
                                    <textarea class="textarea" placeholder="Resumo"></textarea>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
              <input type="checkbox" id="inf-pesquisa">
             Concorda em usarmos as informçaões para pesquisas? <a href="#">terms and conditions</a>
            </label>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <p>Deseja receber informções por email?</p>
                                    <label class="radio">
              <input type="radio" name="question" id="option-yes">
              Sim
            </label>
                                    <label class="radio">
              <input type="radio" name="question" id="option-no">
              Não
            </label>
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link" id="submit" onclick="refs.modalEdicion.open()">Enviar</button>
                                </div>
                                <div class="modal" id="modalEdicion">
                                    <div onclick="refs.modalEdicion.close()" class="modal-background"></div>
                                    <div class="modal-card">
                                        <header class="modal-card-head">
                                            <p class="modal-card-title" id="title-modal" style="text-align: center;">Agradecemos a Confiança</p>
                                            <button class="delete" aria-label="close"></button>
                                        </header>
                                        <section class="modal-card-body">
                                            Em breve entraremos em contato. Caso deseje cancelar, agradecemos pelo seu tempo!
                                        </section>
                                        <footer class="modal-card-foot">
                                            <button class="button is-success" onclick="refs.modalEdicion.close()">Salvar</button>
                                            <button class="button" onclick="refs.modalEdicion.close()">Cancelar</button>
                                        </footer>
                                    </div>
                                </div>
                                <div class="control">
                                    <button class="button is-link is-light">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
</body>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>

</html>